footer {
    padding: 7.5em 0;
    background: #252525;
    .copy {
        font-size: 0.875em;
        text-transform: uppercase;
        text-align: center;
        color: rgba(255, 255, 255, 0.2);
    }
    .followUp {
        text-align: center;
    }
    .footer-about {
        text-align: center;
        line-height: 1.4em;
        padding: 0 20%;
        margin-top: 2em;
        color: rgba(255, 255, 255, 0.3);
        font-size: 0.875em;
        a {
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            border-bottom: 1.5px solid transparent;
            transition: all 0.1s ease-in-out, 1s;
        }
    }
}