<footer>
    <div class="page-wrap">

        <p class="copy"> &copy; 2021 Alexander Kummerer</p>

        <div class="followUp">
            <a href="https://www.linkedin.com/in/alexander-kummerer-52a1351a8/" target="_blank"> <img src="assets/img/linkedin_48px.png"> </a>
            <a href="https://github.com/AlexKummerer" target="_blank"> <img src="assets/img/github_48px.png"> </a>

        </div>
        <div class="imprint">
            <a routerLink="/data-protection">Data Protection</a>
            <a routerLink="/imprint">Imprint</a>
        </div>
        <p class="footer-about"> The icons used are, among other things, from
            <a href="https://icons8.de" target="_blank">https://icons8.de </a>and are licensed with the license Creative Commons Attribution-NoDervis 3.0 Unported. </p>

    </div>


</footer>