<div class="head page-wrap  ">
    <div class="img"> <img src="assets/img/codeme.jpg" alt=""> </div>

    <div class="about">
        <h1>Alexander Kummerer</h1>
        <p> Last Year, I decided to start to learn Front-End Development in a professional Software Development school. I'd really felt in love with development and decided to begin a new journey as Front-End Developer and quit my job. I have done work in
            Front-End, Database/Sever management, Design and Jump and Run Game Development. <br> <br> In my free time I love to go hiking and train with the body. I like reading several kinds of books like Physiology, Mindset, Sci-FI. I'm always looking
            for new journey's and a growing mind.
        </p>


    </div>

</div>

<app-about-details></app-about-details>