<div class="head page-wrap  ">
    <div class="img"> <img src="assets/img/codeme.jpg" alt=""> </div>

    <div class="about">
        <h1>Alexander Kummerer</h1>
        <p> I started my Career as a logistics Expert in the Airfreight Export sector. In recent years I have got a very great interest in technology and the logic behind system. Last Year, I decided to start to learn Front-End Development in a professional
            Software Development school. I'd really felt in love with development and decided to begin a new journey as Front-End Developer and quit my job. I have done work in software Development, Front-End, Database/Sever management, Design and Jump
            and Run Game Development. <br> <br> In my free time i love to go hiking and train with the body. I like reading several kinds of books like Physiology, Mindset, Sci-FI. I'm always looking for new Journey's and a growing mind.
        </p>


    </div>

</div>

<app-about-details></app-about-details>