<div class="head page-wrap  ">
    <div class="img"> <img src="assets/img/codeme.jpg" alt=""> </div>

    <div class="about">
        <h1>Alexander Kummerer</h1>
        <p> Last year, I have decided to start learning Front-End Development at professional Software Development school. I immediately fell in love with development, so I have decided to begin a new journey as a Front-End Developer and quit my current job.
            During my education at (Developer Akademie), I have learned a wide set of skills that are required for Front-End Development, including design, game development as well as database and sever management. <br> <br> In my free time, I love to
            go hiking and do bodyweight exercises. Besides training my body, I also like to extend my knowledge in different topics. I enjoy reading books of various genres, such as physiology, mindset and Sci-Fi. I am an open-minded person that strives
            for new challenges.
        </p>


    </div>

</div>

<app-about-details></app-about-details>