<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card page-wrap">
        <mat-card-header>
            <mat-card-title>Contact</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input required matInput placeholder="Name" formControlName="name">
                        <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                            First name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
                        <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Subject</mat-label>
                        <input matInput placeholder="Subject" formControlName="subject">
                        <mat-error *ngIf="addressForm.controls['subject'].hasError('required')">
                            A Subject <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label> Your message</mat-label>
                        <textarea matInput placeholder=" Your message" formControlName="message"></textarea>
                        <mat-error *ngIf="addressForm.controls['message'].hasError('required')">
                            A Message is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>





        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>