<header>
    <mat-toolbar class="page-wrap">
        <mat-toolbar-row>
            <img routerLink="/" src="assets/img/logo_black.png" alt="" />
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon *ngIf="!overlay" class="icon" (click)="toggleOverlay()">menu</mat-icon> 
            <mat-icon  *ngIf="overlay" class="icon light" (click)="toggleOverlay()">close</mat-icon>
      </button>
        </mat-toolbar-row>
    </mat-toolbar>
</header>

<div *ngIf="overlay" class="overlay-widget-bg" id=" overlay-widget-bg"></div>

<div *ngIf="overlay" class="overlay-widget" id="overlay-widget">
    <div class="inner">
        <div class="menu-menu-container">
            <ul class="menu" id="menu-menu">
                <li>
                    <a routerLink="/" [class.active]="router.url === '/'" (click)="toggleOverlay()"> Home</a>
                </li>
                <li>
                    <a routerLink="/about-me" [class.active]="router.url === '/about-me'" (click)="toggleOverlay()"> About Me</a>
                </li>
                <li>
                    <a href="https://alexkummerer.de/cv_frontend_developer.pdf" (click)="toggleOverlay()"> Resume</a>

                </li>
                <li><a routerLink="/contact" [class.active]="router.url === '/contact'" (click)="toggleOverlay()"> Contact</a></li>
            </ul>
        </div>
    </div>
</div>