<div *ngFor="let project of projects">
    <article class="portfolio">
        <div class="page-wrap">
            <div class="info-contianer">
                <h3>{{project.name}}</h3>
                <hr/>
                <p>{{project.discription}}</p>
                <br>
                <br>
                <a href="{{project.JsDoc}}" target="_blank"><button href="#" mat-stroked-button color="warn" class="js-doc">JS DOC</button> </a>
                <a href="{{project.link}}" target="_blank"> <button mat-stroked-button color="warn" class="show-project">
               SHOW PROJECT
            </button></a>
            </div>
            <img src="{{project.img}}" />
        </div>
    </article>
</div>