<div class="row page-wrap">

    <div class="column-container">
        <div>
            <h3>Airfreight Export Agent</h3>

            <p>I have 5 years of experience as an Airfreight Export Agent. In my work, I was largely resonsible for the organisation of Air transport and the support of large and existing Customers.

            </p>

        </div>
    </div>
    <div class="column-container">
        <div>
            <h3>Why IT?</h3>

            <p> I have always been fascinitad by computers, IT and new technology. With the ever-increasing shift to the digital economy, I have increasingly questioned the logic behind systems. I didn't just want to understand them, I wanted to build Apps
                and Front-End myself</p>

        </div>
    </div>
    <div class="column-container">
        <div>
            <h3>Front-End Developer</h3>

            <p> In November 2020, I seized the opportunity and decided to complete an education as a Front-End developer. I learned working in groups, building different Apps with languages like Javascrypt, Typescrypt and the Framework Angular.</p>

        </div>
    </div>


</div>